body{
    text-align: center;
}

img{
    width: 300px;
    border-radius: 50%;
}

.trickArea{
    width: 4000;
    height: 2000px;
    
    background-color: red;
}



#trickButton{

    background-image: url('../images/knight.png');

    background-size: cover;
    background-position: center;
    background-size: contain; 

    width: 130px;
    height: 200px;
    
    color: white;
    font-size: 16px;

    border: none;
    padding: 0;
    cursor: pointer;
}


#trickBorder:hover{
    display: none;
    pointer-events: none;
}


#trickBorder {
    width: 250px;
    height:270px;
    background-color: yellow;
    

    display: flex;
    justify-content: center;
    align-items: center;
    
}



