body{
    background-image: url("../images/source3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#enterance{
    top: 25%;
    left: 44.8%;
    position: absolute;
    width: 200px;
    height: 55%;
    z-index: 3;
    opacity: 0;
}

.topButton{
    position: absolute;
    top: 50px;
}

#homebButton{
    left: 80%;
    z-index: 7;
    background-color: red;

}

#intorduceButton{
    position: absolute;
    left: 700px;
}

.topButton{
    top: 10px;

    font-size: 25px;
    position: absolute;
    background: none;
    border: none;
    color: white;
}

#login{
    left: 70%;


}

#showInfo{
    left: 75%;

}

